.admin-container {
  width: 100%;
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding: 20px 16px 60px;
  position: relative;
}

.admin-container.fluid {
  max-width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

.section-header {
  text-align: center;
  margin-bottom: 16px;
  position: relative;
}
